parameters:
	paths:
		- copycraft.php
		- includes
	excludePaths:
		analyse:
			- includes/Vendor
	fileExtensions:
		- php
	level: max
	bootstrapFiles:
	    - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-stubs.php